body {
    font-family: 'Poppins', sans-serif;
    background: #EEEEEE;
}

.search:focus, .search:hover, .search:active {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.animated {
    animation: fade .5s linear;
}

section.pop.mx-4 {
    top: 6.3rem;
    position: sticky;
    z-index: 1010;
}

i.fas.fa-align-justify {
    font-size: 1.8em;
} 

span.showSidebar {
    cursor: pointer;
}

@keyframes fade {
    0%,50% { opacity: 0 }
    100% { opacity: 1 }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

aside#sidebar .sidebar-body {
    position: fixed;
    overflow-y: auto;
    width: 250px;
    height: 100vh;
}

aside#sidebar .sidebar-body::-webkit-scrollbar {
    width: 0px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #21252B;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #282C34;
    min-height: 85px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #282C34;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover, a[aria-expanded="true"]{
    color: #282C34;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: linear-gradient(#9F2EB3, #6d7fcc);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #282C34;
}

a.article, a.article:hover {
    background: linear-gradient(#9F2EB3, #6d7fcc) !important;
    color: #fff !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}